.icon-envelope {
  color: var(--subtitle);
  margin-right: 0.7rem;
  font-size: 1.8rem;
}


.contact-us .title{
    color: var(--title);
    margin-bottom: 1rem;
    font-size: 2.1rem;

}

/* Title animation */
.title {
  animation: fadeSlide 0.8s ease forwards;
  opacity: 0;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.contact-us .sub-title{
    color: var(--subtitle);
    margin-bottom: 2rem;
    line-height: 1.65rem;

}

.contact-us label{
    color: var(--subtitle);
}


.contact-us #email , .contact-us #message{
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63 63 70);
    width: 16rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1rem;
}

.light .contact-us #email , .light .contact-us #message{
  background-color: rgba(255, 255, 255, 0.162);
  border: 1px solid rgba(128, 128, 128, 0.451);
  box-shadow: 1px 1px 1px rgba(73, 73, 75, 0.105);
  color: #232324;
}

.contact-us #email:focus , .contact-us #message:focus,
.contact-us #email:hover , .contact-us #message:hover{
    border: 1px solid rgb(45, 212, 191);
    box-shadow: 0 0 12px rgba(45, 212, 191, 0.4);
}

.light .contact-us #email:focus , .light .contact-us #message:focus,
.light .contact-us #email:hover , .light .contact-us #message:hover{
    border: 1px solid rgb(78 , 78 , 80);
    
}

.contact-us #message{
    min-height: 9rem;
    resize: vertical;
}

.contact-us .submit{
    background-color: #24252e;
    padding: 0.75rem 1.9rem;
    font-size: 1.05rem;
    border-radius: 6px;
    transition: 0.3s;
    color: white;
    margin-top: 1.8rem;
    border: 1px solid rgb(63 , 63, 70);
}

.contact-us .submit:hover{
    scale: 0.97;

}
.submit {
  backdrop-filter: blur(4px);
  transform: translateY(0);
}

.submit:hover {
  background-color: rgba(45, 212, 191, 0.2);
  border-color: rgb(45, 212, 191);
  transform: translateY(-2px);
}


@media (max-width: 1200px){
  .animation .contact-animation{
    display: none;
  }
}

@media (max-width: 600px) {
    .contact-us form{
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .contact-us form .flex{
        flex-direction: column;
        align-items: start;
    }

    .contact-us .animation{
        display: none;
    }

    .contact-us #email , .contact-us #message{
        width: 100%;
        margin-left: 0;
        padding: 0.7rem 0;
        margin-top: 1rem;
    }

    .contact-us .submit{
        width: 30%;
        align-self: center;
    }
}

